.hero-section {
  height: 100vh;
  background-color: #292E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FEFAE0;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

.scroll-button {
  padding: 0.75rem 1.5rem;
  background-color: #606C38;
  border: none;
  border-radius: 8px;
  color: #292E1E;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: #A3B18A;
}

.table-section {
  padding: 3rem 1rem;
  background-color: #606C38;
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.city-table-wrapper {
  background-color: #3a4032;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
  overflow-x: auto;
}

.city-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #3a4032;
}

.selected-city {
  background-color: #F3DFA2;
  color: #292E1E;
}

.selected-city:hover {
  background-color: #F3DFA2;
  color: #292E1E;
}

.selected-city-info {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #F3DFA2;
}

.city-table th,
.city-table td {
  padding: 0.75rem;
  color: #BDC4A7;
}

.city-table th {
  background-color: #606C38;
  color: #292E1E;
  text-align: left;
}

.city-table tbody tr:hover {
  background-color: #4e5645;
}

@media (max-width: 200px) {
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4) {
    display: none;
  }
}